header{
    margin: 0px;
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(21, 116, 40), white); /*para fazer fundo degradê*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    font-size: 150%;
    text-decoration: none;
    padding: 10px 10px;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a:hover {
    color: #fd0000;
    text-decoration: underline;
}



.Objetivo h3{
    text-align: center;
    background: #FFFFFF;
    padding: 20px;
}

.lista{
        display: inline-block;
        vertical-align: top;
        width: 95%;
}
